/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
h1 {
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display", Arial, Helvetica, sans-serif;

    font-size: 32px;
    text-transform: uppercase;
}

p {
    color: hsla(0, 0%, 100%, 0.75);

    font-size: 15px;
    font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
}

/* =============================================================================
  #GENERAL 
============================================================================= */
body {
    background-color: hsl(0, 0%, 95%);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100svh;
}

main {
    display: flex;
    flex-direction: column;
}

/* =============================================================================
  #CONTENT
============================================================================= */

.card {
    display: flex;
    flex-direction: column;

    padding: 20px;
}

 .card--sedans {
    background-color: hsl(31, 77%, 52%);

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card--suvs {
    background-color: hsl(184, 100%, 22%);
}

.card--luxury {
    background-color: hsl(179, 100%, 13%);

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

section img {
    width: 25%;
}