/* =============================================================================
  #TYPOGRAPHY
============================================================================= */



/* =============================================================================
  #GENERAL 
============================================================================= */
body {
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100svh;
}

main {
    background-color: orange;

    display: flex;
    flex-direction: column;

    border-radius: 20px;
}

/* =============================================================================
  #CONTENT
============================================================================= */

.sedans {
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}